# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Generierte Dateien
src/generated
build
extras/doc/html/*
extras/doc/ReadMe.html
scripts/dependency-check-report.html
temp
tmp
dependencies.svg

# Sensible Daten (Passwort, Token, private Schluessel)
extras/compose/buch/.env
extras/compose/keycloak/tls/key.pem
extras/compose/postgres/password.txt
extras/compose/postgres/init/tls/server.key
extras/bruno/javascript/environments
src/config/resources/tls/key.pem
src/beispiele.ts
src/beispiele-write.ts
test/lasttest-locust/__pycache__
test/lasttest-locust/.venv
test/postman
sonar-project.properties

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

beispiele-write.exe